* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #000; 
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .container {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80%;
    max-width: 600px;
  }

  
  
  .container p {
    font-size: 0.90rem;
    margin-bottom: 0.5rem;
    font-family:  'Lexend Exa', sans-serif;
    color: #B0B0B0;
  }
  
  .container h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-family:  'Lexend Exa', sans-serif;
  }
  
  .container h2 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    font-family:  'Lexend Exa', sans-serif;
    color: #B0B0B0;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 2.6rem;
    margin-bottom: 2.5rem;
  }
  
  .icon-box {
    
    width: 60px;
    height: 60px;
    border: 1px solid #B0B0B0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.3s ease;
    text-decoration: none;
    color: #fff;
  }
  
  .icon-box:hover {
    background-color: #1e1e1e;
  }
  
  .icon-box i {
    font-size: 1.5rem;
  }
  
  /* BUTONLAR */
  .buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    
  }
  
  .btn {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 0.8rem 1.4rem;
    font-size: 1rem;
    transition: background-color 0.3s;
    font-family:  'Lexend Exa', sans-serif;
    
  }
  
  .btn-cv {
    background-color: #60946A;
    color: #fff;
    font-size: 12px;
    
    
  }
  
  .btn-cv:hover {
    background-color: #4cae4c;
  }
  
  .btn-contact {
    color: #B0B0B0;
    background-color: transparent;
    border: 1px solid #B0B0B0;
    font-size: 12px;
    

  }
  
  .btn-contact:hover {
    background-color: #B0B0B0;
    color: #000;
  }
  
  
  .about-me {
    text-align: center;
    width: 80%;
    max-width: 700px;
    margin-bottom: 5rem;
  }
  
  .about-me h2 {
    color: #60946A; 
    margin-bottom: 1.5rem;
    font-family:  'Lexend Exa', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
  }
  .about-me p {
    
    color: #B0B0B0; 
    margin-bottom: 1.5rem;
    font-family:  'Lexend Exa', sans-serif;
    font-size: 0.80rem;
    max-width: max-content;
    text-align:justify;    
  }
  
  .profile-photo {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
  .about-me h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
    font-weight: 200;
    font-family:  'Lexend Exa', sans-serif;
  }

  
  
 
  .info-badges {
    display: flex;
    justify-content: center;
    gap: 2.6rem;
    margin-bottom: 2rem;
  }
  
  .badge {
    width: 70px;
    height: 70px;
    border: 1px solid #B0B0B0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    color: #FFFFFF;
    padding: 5px;
  }
  
  .badge:hover {
    background-color: #1e1e1e;
  }
  
  .badge i {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: #60946A;
  }
  
  .badge span {
    font-size:10px;
    color: #FFFFFF;
    font-family:  'Lexend Exa', sans-serif;
    font-weight: 200;
  }
  
  .about-text {
    font-size: 1rem;
    color: #ddd;
    line-height: 1.4;
    max-width: 600px;
    margin: 0 auto;
  }
  
  
  .skills {
    width: 80%;
    max-width: 600px;
    margin: 2rem auto 3rem auto;
    text-align: center;
  }
  
  .skills h2 {
    font-size: 20px;
    color: #60946A; 
    margin-bottom: 2rem;
    font-family:  'Lexend Exa', sans-serif;
    font-weight: 300;
  }
  
  .skills-container {
    display: grid;
    gap: 2rem;
    
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px; 
    margin: 0 auto;   
  }
  

  
  .skill-box {
    border: 1px solid #B0B0B0;
    border-radius: 8px;
    padding: 1rem;
    text-align: left; 
    transition: 0.3s ease;
  }
  
  .skill-box:hover {
    background-color: #1e1e1e;
  }
  
  .skill-box h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
    
    
  }
  
  .skill-box ul {
    list-style-type: none; 
    padding-left: 0;
  }

  .skill-box h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #fff;
    font-family:  'Lexend Exa', sans-serif;
  }
  
  .skill-box ul li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    color: #B0B0B0; 
    font-size: 0.8rem;
  }
  
  .skill-box ul li::before {
    content: "•";
    color: #60946A; 
    margin-right: 0.6rem;
  }






.languages-section {
  width: 80%;
  max-width: 700px; 
  text-align: center; 
  margin-bottom: 3rem;
}

.languages-section h2 {
  font-size: 1.4rem;
  color: #60946A;
  margin-bottom: 3rem;
  font-family:  'Lexend Exa', sans-serif;
  font-weight: 300;
}

.languages-list {
  list-style: none; 
  padding: 0;
  margin: 0;
}


.languages-list li {
  display: flex; 
  align-items: center;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  position: relative; 
}

.languages-list li::before {
  content: "•";
  color: #60946A;
  margin-right: 0.8rem;
  font-size: 1.4rem; 
  
}

.language-name {
  margin-right: 0.6rem; 
  color: #fff;          
  font-family:  'Lexend Exa', sans-serif;
  font-weight: 200;
}

.languages-list li i {
  font-style: italic;   
  color: #B0B0B0;          
}



.progress-skills {
  width: 80%;
  max-width: 700px; 
  margin: 2rem auto; 
  text-align: center;
  margin-bottom: 5rem;
}

.progress-skills h2{
  margin-bottom: 3rem;
  font-weight: 300;
  color: #60946A;
  font-family:  'Lexend Exa', sans-serif;
  font-size: 1.4rem;
}

.skills-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;      
  margin-bottom: 1.5rem; 
}

.skill {
  flex: 1;        
}

.skill p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 180;
  font-family:  'Lexend Exa', sans-serif;

}

.skill p span {
  color: #B0B0B0;    
  font-size: 0.80rem;
  font-family:  'Lexend Exa', sans-serif;
}

.progress-bg {
  background-color: #222; 
  height: 6px;            
  border-radius: 3px;     
  position: relative;
  overflow: hidden;       
}

.progress-fill {
  background-color: #60946A; 
  height: 100%;
  width: 0%;
  border-radius: 3px;
  transition: width 0.4s ease-in-out;
}



.interests {
  width: 80%;
  max-width: 700px;
  margin: 0 auto 2rem auto;
  text-align: left; 
  margin-top: 1rem;
}

.interests h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: #60946A; 
  font-weight: 300;
  font-family:  'Lexend Exa', sans-serif;

}

.interest {
  margin-bottom: 2rem;
}

.interest h3 {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 200;
  font-family:  'Lexend Exa', sans-serif;

}

.interest-box {
  border: 1px solid #B0B0B0;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  transition: 0.3s;
}

.interest-box:hover {
  background-color: #1e1e1e;
}

.interest-box i {
  font-size: 1.5rem;
  color: #60946A; 
}

.interest-box p {
  margin: 0;
  color: #B0B0B0;
  line-height: 1.5;
  font-size: 0.80rem;
  font-family:  'Lexend Exa', sans-serif;

}



.projects-section {
  width: 80%;
  max-width: 700px;
  margin: 2rem auto;
  margin-top: 3rem;
}

.projects-section h2 {
  text-align: center;
  font-size: 1.4rem;
  color: #60946A;     
  margin-bottom: 2rem;
  font-weight: 300;
  font-family:  'Lexend Exa', sans-serif;

}

.category-title {
  font-size: 1rem;
  color: #FFFFFF;          
  margin: 1.5rem 0 1rem 0;
  font-family:  'Lexend Exa', sans-serif;
  font-weight: 200;
}

.project-box {
  display: flex;
  align-items: center;
  border: 1px solid #B0B0B0;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s;
}

.project-box:hover {
  background-color: #1e1e1e;
}

.project-icon {
  font-size: 1.5rem;
  color: #60946A; 
  margin-right: 1rem;
}

.project-text {
  color: #B0B0B0; 
  font-size: 0.80rem;
  font-family:  'Lexend Exa', sans-serif;

}


.contact-section {
  width: 80%;
  max-width: 700px;
  margin: 2rem auto;
  text-align: center; 
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.contact-section h2 {
  font-size: 1.4rem;
  color: #60946A; 
  margin-bottom: 2rem;
  font-weight: 300;
  font-family:  'Lexend Exa', sans-serif;

}

.contact-card {
  display: flex;
  align-items: center;
  border: 1px solid #B0B0B0;      
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.2rem;
  max-height: 4.40rem;
  transition: background-color 0.3s;
}

.contact-card:hover {
  background-color: #1e1e1e;   
}

.contact-icon {
  width: 40px;        
  height: 40px;       
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.contact-icon i {
  font-size: 1.5rem;
  color: #60946A;
}

.contact-info {
  text-align: left;
}

.contact-info h3 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-family:  'Lexend Exa', sans-serif;
  font-weight: 200;

}

.contact-info p {
  margin: 0;
  font-size: 0.80rem;
  color: #B0B0B0;
  font-family:  'Lexend Exa', sans-serif;

}


.footer-banner {
  background-color: #60946A; 
  text-align: center;        
  padding: 1rem;            
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-banner p {
  color: #FFFFFF  ;  
  margin: 0;       
  font-size: 1rem; 
  font-family:  'Lexend Exa', sans-serif;
  font-weight: 200;
}







  
  @media (min-width: 768px) {
    .container p {
      font-size: 2rem;    
      margin-bottom: 1rem;  
    }
  
    .container h1 {
      font-size: 6rem;      
      margin-bottom: 0.5rem;
    }
  
    .container h2 {
      font-size: 1.8rem;    
      margin-bottom: 2rem; 
    }
  
    .icons {
      gap: 3rem;            
      margin-bottom: 3rem;  
    }
  
    .icon-box {
      width: 60px;          
      height: 60px;
    }
  
    .icon-box i {
      font-size: 1.8rem;    
    }
  
    .buttons {
      gap: 5rem;            
      margin-bottom: 3rem;  
    }
  
    .btn {
      padding: 1rem 2rem;   
      font-size: 1.1rem;    
    }

     
    .about-me h2 {
      font-size: 2rem;   
      margin-bottom: 2rem; 
    }

    .profile-photo {
      max-width: 400px;    
      margin-bottom: 2rem; 
    }

    .about-me h3 {
      font-size: 1.5rem;   
      margin-bottom: 1.5rem;
    }

    .info-badges {
      gap: 3rem;           
      margin-bottom: 2rem; 
    }

    .badge {
      width: 70px;         
      height: 70px;
      font-size: 1rem;     
    }

    .about-me p {
      font-size: 1rem;
       
    }
    .about-me h3 {
      font-size: 2rem; 
    }
    .languages-section h2 {
      font-size: 2rem;
    }

    .interests h2 {
      text-align: center;
      margin-bottom: 3rem;
      font-size: 2rem;
      color: #60946A; 
      font-weight: 300;
      font-family:  'Lexend Exa', sans-serif;
    
    }

    .progress-skills h2{
     
      font-size: 2rem;
    }

    .contact-section h2 {
      font-size: 2rem;
      
    
    }

    .projects-section h2 {
   
      font-size: 2rem;

    
    }
  
  }

  
